@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/font/Satoshi-Variable.ttf');
}

:root {
  font-family: 'Satoshi', sans-serif;
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  position: relative;
}

